.project {
  padding: 100px 0px;

  .projects-header {
    display: flex;
    justify-content: center;
  }

  .logo-header {
    display: flex;
    justify-content: center;
    padding: 25px;

    .logo-image {
      max-width: 100px;
    }

    .blog-title {
      color: teal;
      text-transform: uppercase;
    }
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // height: 100vh;

    padding: 50px 0px;
    text-align: center;

    .teal {
      background-color: teal;
      padding: 10px 0px;
    }

    .orange {
      background-color: orange;
      padding: 10px 0px;
    }

    .green {
      background-color: green;
      padding: 10px 0px;
    }
  }
}
