.blog {
  padding: 100px 0px;

  .projects-header {
    display: flex;
    justify-content: center;
  }

  .logo-header {
    display: flex;
    justify-content: center;
    padding: 25px;

    .logo-image {
      max-width: 100px;
    }

    .blog-title {
      color: teal;
      text-transform: uppercase;
    }
  }

  .projects-description {
    display: flex;
    justify-content: center;
    padding: 50px;
    margin: 50px 0px;
    border: 1px dashed grey;
  }

  .container {
    .image-wrapper {
      max-width: 100%;
    }

    .title-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .title {
      text-transform: uppercase;
      border-left: 5px solid teal;
      padding: 5px;
    }

    .subtitle {
      font-size: larger;
    }
  }

  .news-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;

    .container {
      max-width: 15vw;
      padding: 50px;
    }

    .image-wrapper {
      max-width: 10vw;
    }
  }

  .reports-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;

    .container {
      max-width: 15vw;
      padding: 50px;
    }

    .image-wrapper {
      width: 400px;
    }
  }

  @media (max-width: 1080px) {
    .projects-container {
      grid-template-columns: auto;
    }
  }
}
