$teal-color: teal;
$alice-blue-color: aliceblue;

.main-title {
  font-size: 1.5em;
  color: $teal-color;
  text-transform: uppercase;
  padding: 10px 0px;
}

.main-subtitle {
  font-size: 2em;

  &--kick {
    font-size: 4em;
  }
}

.link-container {
  text-align: right;
  padding-top: 10px;
  padding-right: 20px;
}

.home-section {
  .alice-blue {
    background-color: $alice-blue-color;
  }
}

.search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;

  .logo-image {
    padding: 20px;
  }

  .search-input {
    width: 25vw;

    @media (max-width: 1080px) {
      width: 75vw;
    }
  }

  .counter-text {
    font-size: 4vh;
    color: $teal-color;
  }
}

.countries-section {
  .name {
    padding: 1%;
    border-left: 5px solid $teal-color;
    text-transform: uppercase;
  }

  .text {
    padding-top: 2%;
  }
}

.join-us-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: $alice-blue-color;
}

.financial-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;

  .content {
    padding-top: 20px;
    font-size: larger;
  }
}

.map-section {
  .title {
    font-size: x-large;
    padding-left: 20px;
    border-left: 5px solid $teal-color;
  }

  .content {
    padding-left: 20px;
    border-left: 5px solid $teal-color;
  }
}

.why-choose-us-section {
  .item-container {
    font-size: larger;
    padding-left: 20px;
  }

  .item-title {
    color: $teal-color;
    padding-bottom: 10px;
  }
}
