$teal-color: teal;
$alice-blue-color: aliceblue;

.main-title {
  font-size: 1.5em;
  color: $teal-color;
  text-transform: uppercase;
  padding: 10px 0px;
}

.main-subtitle {
  font-size: 2em;

  &--kick {
    font-size: 4em;
  }
}


.mobile-section {
  // not used
  .empty {
    color: red;
  }
}

.banner-section {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;

    background-color: aliceblue;
  }
}
