.footer {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .line {
    border-top: 2px dotted grey;
    text-align: center;
    padding: 10px 50px;
  }

  .explanation {
    text-align: center;
    font-size: small;
    padding: 10px 0;
  }
}
