$teal-color: teal;
$alice-blue-color: aliceblue;

.search-list-section {
  padding-top: 50px;

  .url {
    color: $teal-color;
  }

  .name {
    font-size: larger;
    text-transform: capitalize;
    color: blue;
  }
}

.search-section {
  margin-top: 100px;
}
